.mainfooter {
    background-color: $dark-color;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link--youtube {
    color: $white-color;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .link--youtube {
        padding-top: 10px;
        font-size: 10px;
    }
}