.mainheader {
    background-image: url(../../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: $white-color;
}
@media screen and (max-width: 768px) {
    .mainheader {
        height: 100%;
    }
}